.mainDiv {
    margin: 11px;
    justify-content: space-between;
    display: flex;
    width: 23%;
}



.startButton {
    padding: 5px 20px 5px 20px;
    margin-right: 10px;
    align-self: center;
    border-radius: 16px;
    border: 1px solid;
    color: white;
    font-family: 'Rajdhani';
}

.img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        max-width: 50%;
        height: auto;
}